{% extends 'base.html.twig' %}

{% block title %}My List{% endblock %}

{% block body %}
    <h1> HELLO USER {{ app.user.email }}</h1>
    <a href="{{ path('app_logout') }}">logout</a>
{% endblock %}
