{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
    <h1>product {{ product.name }}</h1>
    <a href="{{ path('admin_list') }}">admin-list</a>
{% endblock %}
